/* ===== 首屏 Hero ===== */
.hero-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-mask-image: linear-gradient(to bottom, #000 10%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to bottom, #000 10%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.hero-section .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 0;
}

.hero-image {
    position: static;
    z-index: 1;
    max-width: 90vw;
    width: 800px;
    height: auto;
    margin: 0 auto 40px;
}

.hero-text {
    position: relative;
    z-index: 2;
    color: #fff;
    margin-bottom: 16px;
}

.hero-section p {
    line-height: 1.2;
    margin-bottom: 30px;
    font-size: 1.6rem;
}